* {
    padding:0rem;
    margin: 0rem;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: rgb(182, 250, 182);
}
p {
    font-size: medium;
}
.container {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
}
.menu {
    background-color: rgb(45, 149, 45);
    display: flex;
    justify-content: start;
    align-items: top;
}
.menu-item, .edit-tab{
    position: relative;
    margin:0;
    width: 4.5rem;
    height:2rem;
    padding-right: 2rem;
    padding-left: .5rem;

    display: flex;
    align-items: center;
    
}
#edit {
    width: auto;
    margin:0rem;
    padding:0rem;
    background-color: antiquewhite;
}
.content {
    display: flex;
    flex-direction: column;
}
.content-item {
    background-color: whitesmoke;
    margin-top: 1.5rem;
    border-left: solid;
    border-width: .3rem;
    padding-bottom: 1.2rem;
}
.extra {
    border-color: yellow;
}
.instruction {
    border-color:darkgreen;
}
.mini-container {
    margin: 0rem;
    padding:.8rem;
}
.menu-item:hover, .edit-tab:hover {
    background-color: rgb(5, 167, 5);
    .sub-container {
        position:absolute;
        top:100%;
        left:0;
        .sub {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
                a {

                display:flex;
                justify-content: start;
                align-items: center;
                background-color: rgb(5, 167, 5);

                
                width: 4.5rem;
                padding-right: 2rem;
                padding-top: .4rem;
                padding-bottom:.2rem;
                padding-left: .5rem;

                text-decoration: none;
                
            }
            a:hover {
                background-color: lawngreen;
            }
        }
    }
}

.sub {
    display:none;
}
.edit-tab {
    background-color: rgb(45, 149, 45);
    font-size: large;
    padding-right: 2rem;
    border: none;
}
input[type=button] {
    width: 100%;
    padding:0rem 4.5rem 0rem .5rem;
  }
.edit-tab:focus {
    background-color: rgb(5, 167, 5);
    .edit-sub {
        display:flex;
    }
}

